In [24]:
import pandas as pd

meals = pd.read_excel("trekking3.xlsx", sheet_name="Раскладка", index_col=0)
reference = pd.read_excel("trekking3.xlsx", sheet_name="Справочник", index_col=0).fillna(0)

new_table = meals.join(reference, on="Продукт")
new_table

,Продукт,Вес в граммах,ККал на 100,Б на 100,Ж на 100,У на 100
День,,,,,,
1,Рис пропаренный Увелка,160,350.0,8.0,1.0,78.0
1,Свинина Кронидов,250,349.0,13.0,33.0,0.0
1,"Хлебцы льняные ""Тайские""",110,507.0,19.0,39.0,20.0
1,"Балык ""Королевский""",50,170.0,25.0,8.0,0.0
1,Шоколад молочный какао,55,601.0,7.0,43.0,46.0
...,...,...,...,...,...,...
8,Шоколад молочный какао,55,601.0,7.0,43.0,46.0
9,Сухарики ржаные с семечками,120,451.0,17.3,16.0,59.5
9,"Балык ""Королевский""",80,170.0,25.0,8.0,0.0
9,Сухофрукты,150,548.0,12.8,40.8,32.4
9,Каша Быстров,80,334.0,8.6,4.8,64.0

In [58]:
columns = ["ККал на 100", "Б на 100", "Ж на 100", "У на 100"]
result = new_table[columns].multiply(new_table["Вес в граммах"], axis=0).div(100).groupby("День").sum().astype(int)
result

      ККал на 100  Б на 100  Ж на 100  У на 100
День
1            2405        82       154       172
2            4963       203       307       302
3            5219       178       267       502
4            4873       241       204       537
5            5278       243       314       367
6            4451       190       188       497
7            4806       205       265       386
8            5738       264       195       720
9            1766        66        90       171

In [107]:
for item in result.to_csv().split()[-9:]:
    print(*item.split(",")[1:])

2405 82 154 172
4963 203 307 302
5219 178 267 502
4873 241 204 537
5278 243 314 367
4451 190 188 497
4806 205 265 386
5738 264 195 720
1766 66 90 171